@import 'node_modules/sass-bem/bem';
h2 {
  color: red;
  font-size: 28px;
  line-height: 40px;
}
body {
  font-size: 30px;
}
@include b(mars-container) {
  @include e(content) {
    width: 120px;
  }
}
